doctype
html
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    .navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle
          a.navbar-brand(href="#")= title
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active: a(href="/") Home
          ul.nav.navbar-nav.navbar-right
            li: a(href="#") Welcome, 
              span#displayName Username
    .container-fluid
      .jumbotron
        h1 Welcome to Podclock!
        p Helping you make the best info-tainment.  Let's get started.
    .container-fluid
      .panel.panel-default.col-md-5
        .panel-body
          h3.ul.list-group Episodes 
            a(href="/create") [create an episode]
            each show, index in shows
              li #{show.showNumber} #{show.showTitle} 
                a(href="/create/#{show._id}") edit 
                a(href="/podcast/#{show._id}") run