doctype
html
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    script(src="/socket.io/socket.io.js")
    script(src="../javascripts/jquery-1.11.0.js")
    script(src='../javascripts/run-show.js')
  body
.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle
      a.navbar-brand(href="#")= title
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active: a(href="/") Home
input.form-control#episodeId(type='hidden', value= '#{show._id}')        
.container-fluid
  .row-fluid
    .row
      button.btn-lg.btn-danger.pull-right#reset-link Reset
      button.btn-lg.btn-primary.center-block#start-link 
        span#clock-label Start/Pause/Resume
        h2#podclock 00:00:00
  .row-fluid  
    .panel.panel-default.col-md-8
      .panel-body
        each segment, index in show.segments
          .panel.panel-default
            h4.panel-title.panel-heading #{segment.name} 
            !{segment.notes}
    .panel.panel-default.col-md-4
      .panel.panel-body.panel-default
        div.input-group
          input.form-control#event-name(type='text', placeholder='Event Button Text')
          span.input-group-btn
            button.btn.btn-default#create-event Create Event Button
        h4 Events & Time Codes
        div.btn-group.btn-group-vertical.pull-right#event-buttons
          button.btn.btn-default.event_time_code_btn Um / Uh / And
          button.btn.btn-default.event_time_code_btn Silence
          button.btn.btn-default.event_time_code_btn Talk over
        ul.list-group#time-codes
      .panel.panel-body.panel-default
        div.input-group
          input.form-control#title-suggestion(type='text', placeholder='Suggestion')
          span.input-group-btn
            button.btn.btn-default#suggest-title Suggest Title
        h4 Possible Show Titles
        ol#show-titles